<div class="jumbotron">
	<h1><%= @note.title %></h1>
	<p><%= @note.content %></p>
	<p><span>作者：<%= @note.user.username %></span></p>
</div>
<hr>

<div class="comment">
	<% @comment.each do |c| %>
		<%= render :partial => "comment/comment_h",:locals => {:c => c} %>
	<% end %>
</div>




<hr>
<form action="<%= comment_create_path(@note.id) %>" method="post" data-remote="true">
	<div class="form-group">
	 	<label for="content">评论内容</label>
	    <textarea class="form-control" rows="3" id="content" name="content"></textarea>
	</div>
	<button type="submit" class="btn btn-default">发布</button>
</form>